<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>
	
	<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</head>
<body>
<div class="header">
    <div class="wrap">
            <div class="logo"><a href="index.html"><img src="images/logo.png" alt="crocodile" /></a></div>
            <div class="headerbox">
                <div class="login">
                    <ul>
                        <li><a href="#">Admin in</a></li> |
						<li><a href="#">User in</a></li> |
                        <li><a href="single.html">Register</a></li>
                    </ul>
                </div>
                
            </div>
        <div class="clear"></div>
    </div>
</div>
<div class="wrap">
    <div class="main">
        <div class="nav">
        <ul>
            <li class="active"><a href="index.html">Home</a></li>
            <li><a href="single.html">About</a></li>
            <li><a href="#">Services</a></li>
            <li><a href="#">Our Works</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="clear"></div>
    </div>
        <div class="content">
     
    <g:set var="counter" value="${0}"/>
<g:while test="${counter < a.size()}">
    <g:set var="counter" value="${counter+1}"/>
    <article>
        <h1>${list[counter]}</h1>
        <p>
		
		${a[counter]}
		</p><br><a href="#">Read more...</a>
       </article>
    
    </g:while>
       
        
       
       
       
       
        </div>	
        <div class="sidebar">
            <div class="recent">
                <h3>About</h3>
                <ul>
                    <li><a href="#">text of the printing and typesetting industry</a></li>
                    <li><a href="#"> Lorem Ipsum has been the industry's standard</a></li>
                    <li><a href="#"> dummy text ever since the 1500s, when an</a></li>
                    <li><a href="#"> unknown printer took a galley of type and scramb</a></li>
                    <li><a href="#">led it to make a type specimen book. It has survived </a></li>
                    <li><a href="#">not only five centuries, but also the leap into </a></li>
                    <li><a href="#">electronic typesetting, remaining essentially </a></li>
                    <li><a href="#">unchanged. It was popularised in the 1960s with </a></li>
                    <li><a href="#">thease of Letraset sheets containing Lorem Ipsume</a></li>
                </ul>
            </div>
            <div class="add">
            	<a href="#"><img src="images/add.png" align="300x250" /></a>
            </div>
        </div>
     <div class="clear"></div>
   </div>
<div class="f-menu">
    <ul>
    	<h4>Our Sponcers</h4>
        <li><a href="index.html">simply dummy text of the printing</a></li>
        <li><a href="#">simply dummy text of the printing</a></li>
        <li><a href="#">simply dummy text of the printing</a></li>
    </ul>
    <ul>
    	<h4>Follow on</h4>
        <li><a href="index.html">simply dummy text of the printing</a></li>
        <li><a href="#">simply dummy text of the printing</a></li>
        <li><a href="#">simply dummy text of the printing</a></li>
    </ul>
   
        <div class="clear"></div>
    <div class="copy">© 2017 All rights reserved. Designed by cihan YILMAZ
</div>
</div>
</body>
</html>
