<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
	integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
	crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
	integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	crossorigin="anonymous"></script>

 
</head>
<body>
<div id="spinner" style="display:none;">
    <g:img uri="/images/spinner.gif" alt="Loading..."/>
</div>
	<div class="header">

		<div class="container">

			<div class="row">

<script>
$(function(){
	

		 
	  $('.m').click(function(){
		debugger
		console.info( $(this).val());
		//var xs=1;
		//console.info(xs)
		//var number = parseInt("1");
	

		  $.ajax({
			    url:"${g.createLink(controller:'GetNews',action:'getJson')}",
			    dataType: 'text',
			    data: {
			    	id: $(this).val(),
			        
			    },
			    beforeSend: function() {
			        $('#baslik').html("<img src='images/vv.gif' />");
			      },
			    success: function(data) {
			    	
			        //alert(data)
			    	  //$('h4').text(data);
			    	  $('#baslik').text(data)
			    },
			    error: function(request, status, error) {
			        alert(error)
			    },
			    complete: function() {
			    }
			});

			
			
	  });
  });
	  
	

</script>

						
<g:set var="counter" value="${0}" />

						<g:while test="${counter < a.size()}">
				<div class="col-sm-6">
					




							<div class="panel panel-default">
								<div class="panel-heading">
									${list[counter]}
								</div>
								<div class="panel-body">
									<img src="${a[counter]}" alt="Smiley face" height="400"
										width="400">
								</div>
								
								<br>

								<%--<g:link controller="getNews" action="show" id="${counter}">
									--%><button value="${counter}" id="degeri" type="button" class="btn btn-primary btn-lg m"data-toggle="modal" data-target="#myModal">Read
										More</button><%--
								</g:link>
								--%><g:set var="counter" value="${counter+1}" />
							</div>
						


				</div>
</g:while>

			</div>

		</div>




<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" id="baslika">Haberin Devamı</h4>
      </div>
      <div class="modal-body" id="baslik">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Kapat</button>
       
      </div>
    </div>
  </div>
</div>


	</div>
</body>
</html>
